@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;800&display=swap");
body {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  font-family: "Barlow", sans-serif !important;
  background: #e3dcc7;
}

body img {
  width: 100%;
  height: auto;
}

button {
  font-family: "Barlow", sans-serif !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
}

.text-wrapper {
  height: 60vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.text-wrapper .text-wrapper-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.text-wrapper .text-wrapper-container .title {
  width: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;
  font-size: 8em;
  color: #393833;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
}

.text-wrapper .text-wrapper-container .title .letter {
  display: inline-block;
  line-height: 1em;
}

.video-wrapper {
  position: relative;
  height: 90vh;
  background-color: #c33d09;
  position: relative;
}

.video-wrapper video {
  object-fit: cover;
  width: 70%;
  height: 90vh;
  margin: auto;
  position: relative;
  z-index: 1;
}

.video-wrapper .infinite-text {
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.infinite-text:nth-child(1) {
  top: 90px;
}

.infinite-text:nth-child(2) {
  top: 180px;
}

.infinite-text:nth-child(3) {
  top: 270px;
}

.infinite-text:nth-child(4) {
  top: 360px;
}

.infinite-text:nth-child(5) {
  top: 450px;
}

.infinite-text:nth-child(6) {
  top: 540px;
}

.infinite-text:nth-child(7) {
  top: 630px;
}

.infinite-text:nth-child(8) {
  top: 720px;
}

.infinite-text:nth-child(9) {
  top: 810px;
}

.section-texts {
  padding: 80px 0;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: #0f0f0f;
}

.section-texts p {
  color: #f1f1f1;
}

.section-texts .section-title {
  font-size: 5rem;
  color: #f1f1f1;
  font-weight: 900;
  margin: 10px 0;
  white-space: nowrap;
  text-transform: uppercase;
}

.section-pretitle {
  width: 100%;
  font-size: 1.5rem;
  color: #f1f1f1;
  font-weight: 500;
  margin: 20px 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

.bk-color {
  color: #393833;
}

svg {
  position: absolute;
  top: 50px;
}

svg textPath {
  font-size: 63px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 20px;
  fill: #111;
  background: #333;
}

.info {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.info .title {
  color: #a8a8a8;
}

.info .logo {
  width: calc(100% / 4 - 20px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .info .logo {
    width: calc(100% / 3 - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .info .logo {
    width: calc(100% / 2 - 20px);
  }
}

@media only screen and (max-width: 590px) {
  .info .logo {
    width: 60%;
    margin: 0 auto;
  }
}

.info .logo img {
  width: 200px;
  height: 140px;
  object-fit: contain;
  filter: grayscale(100%);
}

@media only screen and (max-width: 590px) {
  .info .logo img {
    width: 150px;
    height: 100px;
  }
}

.artists {
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
  padding: 0 30px;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 35px;
  transition: 0.4s;
  background-color: transparent;
  text-transform: capitalize;
  border-bottom: solid 1px #ff5a02;
  color: #393833;
  text-transform: uppercase;
}

.accordion:after {
  content: "\002B";
  color: #393833;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.panel .project {
  margin: 20px 10px 10px 40px;
}

.panel .project a {
  color: #393833;
  min-height: 300px;
  text-decoration: none;
  margin-right: 15px;
}

.panel .project a img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  max-width: 300px;
}

.panel .project a p {
  color: #393833;
  font-size: 22px;
  margin-bottom: 5px;
}

.load-more {
  background-color: #393833;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
  box-shadow: -5px 5px 10px #393833;
  margin: 50px auto;
  text-transform: uppercase;
}

.contact {
  padding: 80px 0;
  background: linear-gradient(-33deg, #ff5a02, #e3dcc7, #393833);
  background-size: 400% 400%;
  animation: gradient 23s ease infinite;
}

.contact .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact .container .title {
  color: #f1f1f1;
  margin-bottom: 60px;
}

.contact .container .method {
  margin-right: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 590px) {
  .contact .container .method {
    margin-right: 0;
    width: 100%;
  }
}

.contact .container .method .label {
  color: rgba(241, 241, 241, 0.7);
}

.contact .container .method .contact-info {
  color: #f1f1f1;
  font-size: 1.5rem;
}

@media only screen and (max-width: 590px) {
  .contact .container .method .contact-info {
    font-size: 1.1rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=style.css.map */