@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;800&display=swap");
@import "mixin.scss";

$black: #1f1e1d;
$gray: rgb(168, 168, 168);
$white: rgb(241, 241, 241);
$orange: #ff5a02;
$brown: #393833;

body {
  margin: 0;
  padding: 0;
  // background-color: $black;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  img {
    width: 100%;
    height: auto;
  }
  font-family: "Barlow", sans-serif !important;
  background: #e3dcc7;
}

button {
  font-family: "Barlow", sans-serif !important;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
}

.text-wrapper {
  height: 60vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .text-wrapper-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title {
      width: 100%;
      margin: 0;
      text-align: center;
      overflow: hidden;
      font-size: 8em;
      color: #393833;
      font-weight: 900;
      white-space: nowrap;
      text-transform: uppercase;
      .letter {
        display: inline-block;
        line-height: 1em;
      }
    }
  }
}

.video-wrapper {
  position: relative;
  height: 90vh;
  background-color: #c33d09;
  position: relative;

  video {
    object-fit: cover;
    width: 70%;
    height: 90vh;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  .infinite-text {
    width: 100%;
    position: absolute;
    top: 0;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@for $i from 1 through 9 {
  .infinite-text:nth-child(#{$i}) {
    top: $i * 90px;
  }
}

.section-texts {
  padding: 80px 0;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: #0f0f0f;
  p {
    color: $white;
  }

  .section-title {
    font-size: 5rem;
    color: $white;
    font-weight: 900;
    margin: 10px 0;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

.section-pretitle {
  width: 100%;
  font-size: 1.5rem;
  color: $white;
  font-weight: 500;
  margin: 20px 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}
.bk-color {
  color: $brown;
}

svg {
  position: absolute;
  top: 50px;
  textPath {
    font-size: 63px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 20px;
    fill: #111;
    background: #333;
  }
}

.info {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  .title {
    color: $gray;
  }
  .logo {
    width: calc(100% / 4 - 20px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    @include lg {
      width: calc(100% / 3 - 20px);
    }
    @include md {
      width: calc(100% / 2 - 20px);
    }
    @include sm {
      width: 60%;
      margin: 0 auto;
    }
    img {
      width: 200px;
      height: 140px;
      object-fit: contain;
      filter: grayscale(100%);
      @include sm {
        width: 150px;
        height: 100px;
      }
    }
  }
}
.artists {
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
  padding: 0 30px;
}
.accordion {
  // background-color: #eee;
  // color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 35px;
  transition: 0.4s;
  background-color: transparent;
  text-transform: capitalize;
  border-bottom: solid 1px $orange;
  color: $brown;
  text-transform: uppercase;
}

// .active,
// .accordion:hover {
//   background-color: #ccc;
// }

.accordion:after {
  content: "\002B";
  color: $brown;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  // background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;

  .project {
    margin: 20px 10px 10px 40px;
    a {
      color: $brown;
      min-height: 300px;
      text-decoration: none;
      margin-right: 15px;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        max-width: 300px;
      }
      p {
        color: $brown;
        font-size: 22px;
        margin-bottom: 5px;
      }
      // display: none;
    }
  }
}

.load-more {
  background-color: $brown;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
  box-shadow: -5px 5px 10px $brown;
  margin: 50px auto;
  text-transform: uppercase;
}

.contact {
  padding: 80px 0;
  background: linear-gradient(-33deg, $orange, #e3dcc7, $brown);
  background-size: 400% 400%;
  animation: gradient 23s ease infinite;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .title {
      color: $white;
      margin-bottom: 60px;
    }
    .method {
      margin-right: 40px;
      margin-bottom: 40px;
      @include sm {
        margin-right: 0;
        width: 100%;
      }
      .label {
        color: rgba($white, 0.7);
      }
      .contact-info {
        color: $white;
        font-size: 1.5rem;
        @include sm {
          font-size: 1.1rem;
        }
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
